.subject {
  width: 200px;
  height: 200px;

  background: var(--background);
}

.light .subject {
  background: white;
}
.dark .subject {
  background: black;
}

.dark .light .subject {
  background: white;
}
.light .dark .subject {
  background: black;
}

.light .dark .light .subject {
  background: white;
}
.dark .light .dark .subject {
  background: black;
}
