<div local-class="light">
  <div local-class="dark">
    <div local-class="subject">
      dark
    </div>
  </div>
  <div local-class="dark">
    <div local-class="light">
      <div local-class="subject">
        light
      </div>
    </div>
  </div>
</div>
<div local-class="dark">
  <div local-class="light">
    <div local-class="subject">
      light
    </div>
  </div>
  <div local-class="light">
    <div local-class="dark">
      <div local-class="subject">
        dark
      </div>
    </div>
  </div>
</div>