@component contextual-example;

.contextual-component {
  background: cfg();
  color: cfg();

  .style-applied::after {
    content: 'No';
    content: cfg('style-applied');
  }

  .actual::after {
    content: cfg('actual');
  }
}
