@component contextual-component;

.contextual-component {
  background: cfg();
  color: cfg();

  &:after {
    display: inline-block;
    content: cfg('text');
  }

  .style-applied::after {
    content: 'No';
    content: cfg('style-applied');
  }

  .actual::after {
    content: cfg('actual');
  }
}
