<div local-class="contextual-component">
  <div local-class="expected">
    Expected:
    {{@expected}}
  </div>
  <div local-class="actual">
    Actual:
  </div>
  <div local-class="style-applied">
    Style applied:
  </div>
</div>