@component test-addon.square;

.square {
  width: 200px;
  height: 200px;

  background: linear-gradient(
    to bottom,
    cfg('background.top'),
    cfg('background.bottom')
  );
  color: cfg();

  display: flex;
  justify-content: center;
  align-items: center;
}
